body{
	padding: 0px;
	margin: 0px;
}
.layout{
	width: 1000px;
	margin: auto;
}
header{
	height: 20px;
	padding-bottom: 23%;
	background-color: red;
}
header{
	background-image: url(anhsv.jpg);
	padding-bottom: 25%;
	background-size: 100% 100%
}
nav{
	background-color: darkorange;
	height: 40px;
	font-variant: small-caps;
}
article{
	background-color: white;
	height: 550px;
	width: 70%;
	float: right;
}
aside{
	background-color: white;
	height: 550px;
	width: 30%;
}
footer{
	background-color: orange;
	height: 40px;
}
.menucon>ul>li{
	display: inline-block;
	position: relative;
}
.menucon>ul>li>a{
	display: block;
	padding: 0 10px;
	line-height: 40px;
  font-variant: small-caps;
}
.menucon>ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    background-color: darkorange;
    text-align: center;
}
.menucon>ul>li>a:hover{
	color: white;
}
.menucon ul ul{
	position: absolute;
	display: none;
	padding: 0px;
	margin: 0px;
	list-style: none;
	border-radius: 3px;
	width: 200px;
	background-color: gray;
	box-shadow: 0 0 1px green;
}
.menucon{
	    text-align: center;

}
